@import "tailwindcss";
@theme {
  --color-gray: brightness(0) saturate(100%) invert(54%) sepia(23%) saturate(22%) hue-rotate(319deg) brightness(93%) contrast(81%);
  --color-red: brightness(0) saturate(100%) invert(47%) sepia(24%) saturate(1491%) hue-rotate(313deg) brightness(86%) contrast(94%);
  --color-blue: brightness(0) saturate(100%) invert(43%) sepia(32%) saturate(947%) hue-rotate(174deg) brightness(83%) contrast(94%);
  --color-yellow: brightness(0) saturate(100%) invert(67%) sepia(37%) saturate(1793%) hue-rotate(356deg) brightness(98%) contrast(84%);
  --color-whitee : brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(337deg) brightness(125%) contrast(106%);
}

.gray-filter {
  filter: var(--color-gray);
}
.red-filter {
  filter: var(--color-red);
}
.blue-filter {
  filter: var(--color-blue);
}
.yellow-filter {
  filter: var(--color-yellow);
}
.whitee-filter {
  filter: var(--color-whitee);
}



* {
    font-family: 'Poppins', sans-serif;
}

.mask-gradient {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.custom-clipper {
  clip-path: polygon(0% 0%, 100% 0%, 90.82% 7.14%, 90.82% 100%, 13.51% 100%, 13.51% 7.14%);
  background-color: white
}

.cu {
  color: #398a4a;
}


@keyframes jitter {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(-2px, 2px); }
  50% { transform: translate(5px, -5px); }
  75% { transform: translate(-1px, 1px); }
}

.jitter {
  animation: jitter 0.4s linear;
}


.scroll-gray {
  scrollbar-width: auto;
  scrollbar-color: #d9d9db #f6f7f8;
}

.scroll-gray::-webkit-scrollbar {
  width: 2px;
}

.scroll-gray::-webkit-scrollbar-track {
  background: #f6f7f8;
  border-radius: 10px;
}

.scroll-gray::-webkit-scrollbar-thumb {
  background-color: #d9d9db;
  border-radius: 10px;
}

.scroll-gray::-webkit-scrollbar-thumb:hover {
  background-color: #cfcfd1;
}

.scroll-gray::-webkit-scrollbar-button {
  display: none;
}
