@import "tailwindcss";
@theme {
  --color-gray: brightness(0) saturate(100%) invert(54%) sepia(23%) saturate(22%) hue-rotate(319deg) brightness(93%) contrast(81%);
  --color-red: brightness(0) saturate(100%) invert(47%) sepia(24%) saturate(1491%) hue-rotate(313deg) brightness(86%) contrast(94%);
}

.gray-filter {
  filter: var(--color-gray);
}
.red-filter {
  filter: var(--color-red);
}

* {
    font-family: 'Poppins', sans-serif;
}

.mask-gradient {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.custom-clipper {
  clip-path: polygon(0% 0%, 100% 0%, 90.82% 7.14%, 90.82% 100%, 13.51% 100%, 13.51% 7.14%);
  background-color: white
}

.cu {
  color: #f5c73d;
}

