@import "tailwindcss";

* {
    font-family: 'Poppins', sans-serif;
}

.mask-gradient {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
